* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: "Zen Kurenaido", sans-serif;
  background-color: black;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  max-width: 200rem;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

@media (min-width: 576px) {
  .row [class^="col-"] {
    float: none;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row [class^="col-"] {
    float: left;
  }
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 2rem;
}

@media (min-width: 576px) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 2rem;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 1 * 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 *6rem) / 3);
}

@media (min-width: 576px) {
  .row .col-1-of-3 {
    width: 700px;
    height: 491px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row .col-1-of-3 {
    height: 230px;
  }
}

@media (min-width: 576px) {
  .row .col-1-of-3:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3);
  }
  .row .col-1-of-3:not(:last-child) {
    margin-bottom: 0px;
  }
}

.row .col-1-of-3k {
  width: calc((100% - 2*6rem )/3);
}

@media (min-width: 576px) {
  .row .col-1-of-3k {
    width: 700px;
    height: 375px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row .col-1-of-3k {
    width: 100%;
    height: 145px;
  }
}

@media (min-width: 576px) {
  .row .col-1-of-3k:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .row .col-1-of-3k {
    width: calc((100% - 2*6rem )/3);
  }
  .row .col-1-of-3k:not(:last-child) {
    margin-bottom: 0px;
  }
}

.header {
  color: #ffff;
  text-align: center;
  margin-bottom: 5rem;
}

@media (min-width: 576px) {
  .header-text {
    margin: 0 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .header-text {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .header-text {
    font-size: 20px;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .header {
    text-align: center;
  }
}

.header-heading {
  font-family: "James";
  padding: 0rem 4rem;
  display: inline-block;
  font-size: 10rem;
  font-weight: 100;
  border: 6px solid #ffff;
}

@media (min-width: 576px) {
  .header-heading {
    padding: 0rem 0rem;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .header-heading {
    padding: 0rem 0rem;
  }
}

.header-img-box1 {
  margin: 0 5rem;
  margin-top: 4.5rem;
}

@media (min-width: 576px) {
  .header-img-box1 {
    margin-top: 4.5rem;
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .header-img-box1 {
    margin-bottom: 50px;
  }
}

.header-img-box1-content {
  border-radius: 50rem;
  width: 20%;
}

@media (min-width: 576px) {
  .header-img-box1-content {
    width: 40%;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .header-img-box1-content {
    width: 20%;
  }
}

.header-img-box1-text1 {
  margin-bottom: 1px;
}

@media (min-width: 576px) {
  .header-img-box1-text1 {
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .header-img-box1-text1 {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .header-img-box1-text1 {
    font-size: 20px;
  }
}

.header-img-box1-text2 {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .header-img-box1-text2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .header-img-box1-text2 {
    font-size: 16px;
  }
}

.header-img-text {
  font-family: inherit;
  text-transform: capitalize;
}

.header-img-box {
  margin-top: 2rem;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .header-img-box {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (min-width: 576px) {
  .header-img-box {
    margin-bottom: 50px;
  }
}

.header-img-box-main {
  display: block;
}

.header-img-box-sub {
  text-align: center;
  font-weight: 300;
}

@media (min-width: 576px) {
  .header-img-box-sub {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .header-img-box-sub {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .header-img-box-sub {
    font-size: 15px;
  }
}

.header-img-box-sub-1 {
  border: 2px solid #ffff;
  display: inline-block;
  margin-top: 20px;
  padding: 2px 4px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .header-img-box-sub-1 {
    padding: 3px 4px;
  }
}

.header-img-box-sub-2 {
  border: 2px solid #ffff;
  display: inline-block;
  margin-top: 20px;
  padding: 2px 4px;
  word-spacing: 10px;
  margin-right: 10px;
}

.header-img-box-sub-3 {
  border: 2px solid #ffff;
  display: inline-block;
  margin-top: 20px;
  padding: 2px 4px;
  margin-right: 10px;
}

.header-img-box-sub-4 {
  display: block;
  border: 2px solid #ffff;
  display: inline-block;
  margin-top: 20px;
  padding: 2px 4px;
  margin-right: 10px;
}

.part-1 {
  color: #ffff;
  margin-bottom: 6rem;
}

.part-1-heading {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .part-1-heading {
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-heading {
    margin-bottom: 50px;
  }
}

.part-1-heading-main {
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .part-1-heading-main {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .part-1-heading-main {
    font-size: 20px;
  }
}

.part-1-heading1 {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .part-1-heading1-sub {
    margin: 0 40px;
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .part-1-heading1-sub {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .part-1-heading1-sub {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .part-1-heading1-sub1 {
    visibility: hidden;
    width: 0;
  }
}

@media (min-width: 768px) {
  .part-1-heading1-sub2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .part-1-heading1-sub2 {
    font-size: 20px;
  }
}

.part-1-heading1-main {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 3px solid #ffff;
}

@media (min-width: 576px) {
  .part-1-heading1-main {
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}

.part-1-flims {
  display: inline-block;
  margin-left: 112px;
  text-align: center;
}

@media (min-width: 576px) {
  .part-1-flims {
    margin-left: 139px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-flims {
    margin-left: 112px;
  }
}

.part-1-flims-img {
  width: 100%;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 576px) {
  .part-1-flims-img {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-flims-img {
    margin-bottom: 10px;
  }
}

.part-1-flims-img:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (min-width: 576px) {
  .part-1-flims-btn-img {
    width: 300px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-flims-btn-img {
    width: 150px;
  }
}

@media (min-width: 576px) {
  .part-1-flims1 {
    display: inline-block;
    margin-left: 32px;
    text-align: center;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-flims1 {
    margin-left: 112px;
  }
}

.part-1-flims1-img1 {
  width: 100%;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 576px) {
  .part-1-flims1-img1 {
    width: 130%;
    margin-bottom: -50px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .part-1-flims1-img1 {
    width: 100%;
    margin-bottom: 5px;
  }
}

.part-1-flims1-img1:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.part-1-end {
  width: 100%;
  margin-top: 6rem;
  text-align: center;
}

.part-1-end-text {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 15px;
}

.footer {
  background-color: #171717;
  height: 100px;
  padding: 40px 110px;
}

@media (min-width: 576px) {
  .footer {
    height: 140px;
    padding: 40px 45px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .footer {
    height: 100px;
    padding: 40px 110px;
  }
}

.footer-so {
  float: left;
}

.footer-cpy {
  text-align: right;
}

.footer-cpy-text {
  display: inline-block;
  font-weight: 300;
  color: #ffff;
}

@media (min-width: 576px) {
  .footer-cpy-text {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .footer-cpy-text {
    font-size: 15px;
  }
}

.footer-face {
  font-weight: 300;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  color: #ffff;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.footer-face:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (min-width: 576px) {
  .footer-face {
    font-size: 50px;
  }
}

@media (min-width: 576px) and (min-width: 992px) {
  .footer-face {
    font-size: 30px;
  }
}

.footer-face:not(:last-child) {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */