.part-1 {
  color: #ffff;
  margin-bottom: 6rem;
  &-heading {
    text-align: center;
    margin-bottom: 60px;
    @include respond(phone) {
      margin-bottom: 100px;
      @include respond(laptop){
        margin-bottom: 50px;
      }
    }
    &-main {
      font-size: 16px;
      font-weight: 100;
      text-transform: capitalize;
      @include respond (tablet){
        font-size: 30px;
        @include respond (laptop){
          font-size: 20px;
        }
      }
    }
  }
  &-heading1 {
    text-align: center;
    margin-bottom: 2rem;
    &-sub{
      @include respond(phone){
        margin: 0 40px;
        margin-bottom: 50px;
        @include respond (tablet){
          font-size: 30px;
          @include respond (laptop){
            font-size: 20px;
          }
        }
      }
    }
    &-sub1 {
      @include respond(phone) {
        visibility: hidden;
        width: 0;
      }
    }
    &-sub2 {
      @include respond (tablet){
        font-size: 30px;
        @include respond (laptop){
          font-size: 20px;
        }
      }
      &-mob {
        @include respond(phone) {
          @include respond(laptop) {
          }
        }
      }
    }
    &-main {
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 3px solid #ffff;
      @include respond(phone){
        padding-bottom: 10px;
        margin-bottom: 40px;
      }
    }
  }
  &-flims {
    display: inline-block;
    margin-left: 112px;
    text-align: center;
    @include respond(phone) {
      margin-left: 139px;
      @include respond(laptop) {
        margin-left: 112px;
      }
    }

    &-img {
      width: 100%;
      margin-bottom: 25px;
      transition: all 0.3s;
      @include respond(phone) {
        display: inline-block;
        width: 100%;
        @include respond (laptop){
          margin-bottom: 10px;
        }
      }
      &:hover {
        transform: translateY(-3px);
      }
    }
    &-btn {
      @include respond(phone){
      }
      &-img {
        @include respond(phone){
          width: 300px;
          @include respond(laptop){
            width: 150px;
          }
        }
      }
    }
  }
  &-flims1 {
    @include respond(phone) {
      display: inline-block;
      margin-left: 32px;
      text-align: center;
      @include respond(laptop) {
        margin-left: 112px;
      }
    }

    &-img1 {
      width: 100%;
      margin-bottom: 25px;
      transition: all 0.3s;
      @include respond(phone) {
        width: 130%;
        margin-bottom: -50px;
        @include respond(laptop) {
          width: 100%;
          margin-bottom: 5px;
        }
      }
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
  &-end {
    width: 100%;
    margin-top: 6rem;
    text-align: center;
    &-text {
      display: inline-block;
      font-size: 50px;
      margin-bottom: 15px;
    }
  }
}
